.contenedor{
    display: flex;
    flex-direction: row;
}
.yelow{
color: greenyellow;
}
/* Aqui empieza el css para la parte izquierda  */
.perfil{
    background-color: rgb(66, 57, 57);
    display: flex;
    flex-direction: column;
    justify-content: center;
 align-items: center;
 min-width: 275px;
height: 100vh;
}
.foto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foto p {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.foto img{
    border-radius: 50%;
    width: 100px;
}

.box{
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: center;
}
/* Css para la parte derecha  */
.contenedor_informacion{
    max-width: 100%;
    background-color: rgb(84, 70, 70);
}
.flex{
    display: flex;
}
.box_info2{
    
    flex-wrap: wrap;
    margin: 20px;
    
}
.titulo{
    display: flex;
    align-items: left;
   
   
}
.box_flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
 
}
.box_flex img{
    width: 250px;
    height: 150px;
}
.imagenes{
    margin: 10px;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #1d1818;
    background-color: #2d3843;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin: 5px;
}

.button:hover {
    background-color: #1d20234e;
}


/* Css para la parte derecha  */
.contenedor_informacion{
    max-width: 100%;
    background-color: rgb(84, 70, 70);
}
.flex{
    display: flex;
}
.box_info{
    height: 100vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
   justify-content: center;
}
.box_info2{
    
    flex-wrap: wrap;
    margin: 20px;
    
}
.titulo{
    display: flex;
    align-items: left;
   
   
}
.box_flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
 
}
.box_flex img{
    width: 250px;
    height: 150px;
}
.imagenes{
    margin: 10px;
}
.cv{
    background-color: #333333;
    padding: 7px 30px;
    border-radius: 15px;
}
.verde{
    color: greenyellow;
}
.cv:hover{
    background-color: rgb(130, 158, 88);
}
.flex2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.abajo{
    display: flex;
    flex-direction: row;
    margin: 20px;
    flex-wrap: wrap;
    gap: 30px;
    
}
.box3{
    background-color: #333333;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}